<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>Title</title>

    <style>
        *{
            font-size: 30px;
            padding: 20px;
        }
    </style>

    <script>
        function post() {
            let sign = $('#sign').val();
            let title = $("#title").val();
            let product = $("#product").val();

            // 2. memo에 POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST",
                url: "/api/post",
                data: {sign_give: sign, title_give: title, product_give: product},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("포스팅 성공!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }
    </script>

</head>
<body>
<!-- -->
<p>
    Sign : <input type="text" id="sign" placeholder="sign 를 입력해주세요" aria-label="id"
           aria-describedby="id">
</p>
<!-- Title -->
<p>
    Title : <input type="text" id="title" placeholder="title 를 입력해주세요" aria-label="id"
           aria-describedby="id">
</p>
<!-- Product -->
<p>
    Product : <input type="text" id="product" placeholder="product 를 입력해주세요" aria-label="id"
           aria-describedby="id">
</p>

<button class="btn btn-primary sign-in" onclick="post()">저장</button>

</body>
</html>