<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>Title</title>

    <style>
        * {
            font-size: 50px;
            padding: 30px;
        }
    </style>

    <script>
        function signUp() {
            let id = $('#id').val()
            let pw = $('#pw').val()
            let nickname = $('#nickname').val()

            if (id === '') return alert('아이디를 입력해주세요')
            if (pw === '') return alert('비밀번호를 입력해주세요')
            if (nickname === '') return alert('닉네임을 입력해주세요')

            $.ajax({
                type: "POST",
                url: "/api/register",
                data: {id_give: id, pw_give: pw, nickname_give: nickname},
                success: function (response) {
                    if (response['result'] === 'success') {
                        alert('🎉 Sign up is complete 🎉')
                        location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function login() {
            let id = $('#id').val()
            let pw = $('#pw').val()

            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: id, pw_give: pw},
                success: function (response) {
                    if (response['result'] === 'success') {
                        alert(response['msg'])
                        location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>


<body>
<!-- ID -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text label">ID</span>
    </div>
    <input type="text" class="form-control" id="id" placeholder="아이디를 입력해주세요" aria-label="id"
           aria-describedby="id">
</div>
<!-- PW -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text label">PW</span>
    </div>
    <input type="password" class="form-control" id="pw" placeholder="비밀번호를 입력해주세요" aria-label="pw"
           aria-describedby="pw">
</div>
<!-- Nickname -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text label">Nickname</span>
    </div>
    <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력해주세요" aria-label="pw"
           aria-describedby="nickname">
</div>
<button class="btn btn-primary sign-in" onclick="signUp()">로그인</button>

</body>
</html>