<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- style -->
    <link rel="stylesheet" href="home_css.css">

    <title>MyWonderland.com | The official home</title>

    <script>

    </script>
</head>

<body>
<div id="page">
    <header id="banner" class="full-width">
        <!-- global message -->
        <div class="global-message-banner">
            <p>
                Hello
            </p>
            <a href="https://blog.naver.com/rn0731">Learn More >></a>
        </div>

        <!-- sticky menu bar -->
        <div class="sticky-nav" style="z-index: auto; position: static; top: auto;">
            <div class="top-bar">
                <a href="home.html" class="logo">
                    <img src="/static/SampleLOGOs.png" style="max-width: 100%; height: auto;">
                </a>
                <nav id="primary-nav">
                    <ul class="primary-nav-items">
                        <li class="nav-menu1"><h2>Menu1</h2></li>
                        <li class="nav-menu2"><h2>Menu2</h2></li>
                        <li class="nav-menu3"><h2>Menu2</h2></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- intro video -->
        <div class="intro-banner">
            <video id="intro-banner-video" controls loop playsinline
                   src="../static/intro-banner-video-sample.mp4"
                   style="max-width: 100%; height: auto"></video>
            <button id="intro-banner-button"></button>
        </div>

        <!-- search keyword -->
        <form action="#" class="search-keyword-form">
            <div class="search-form-field">
                <div>
                    <input id="search-keyword-submit" type="search" placeholder="Enter keyword(s)" maxlength="150">
                    <button id="search-keyword-button">SEARCH KEYWORDS</button>
                </div>
            </div>
        </form>

    </header>

    <main id="content">
        <!-- customized map -->
        <div class="map">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">0</button>
                <button type="button" class="btn btn-secondary">0</button>
                <button type="button" class="btn btn-secondary">0</button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
            </div>

        </div>

        <!-- record box -->
        <div class="post-box-form">
            <div class="post-box-field">
                <h2> What special thing do you want to record? </h2>
                <p> What is your story? Post anything you want.
                    If you make it to card, select the button
                    This could be your diary or memory, It could be everything</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px">SUBJECT</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px">Image Url</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px">Content</span>
                    <textarea id="post-comment" class="form-control" rows="10"></textarea>
                </div>

            </div>

        </div>

        <!-- cards box -->
        <div class="moment-card-form">
            <div>
                난 바보여....정말 바보여...
                <ul>
                    <li style="background-color: lightgrey; background-size: cover">
                        <a href="#" style="height: 44vw"></a>
                        <div class="api-text">
                            <h3>sample content ></h3>
                        </div>
                    </li>
                </ul>
            </div>

        </div>



    </main>


</div>
</body>

</html>