{% extends "layout_home_v1.html" %}

<!--Top bar-->
{% block nav %}
<nav class="navbar" style="background: #333">
    <div class="nav justify-content-start" style="background: #333">
        <!--Logo-->
        <a class="navbar-brand" href="/home" style="color: #fff; font-family: 'Gugi'; font-size: 1.5rem">
            <img src="../static/avocado_logo.png" alt="" width="60" height="60"
                 class="d-inline-block align-text-center">
            Avocado
        </a>
        <!--Sell-->
        <li class="nav-item">
            <a class="nav-link" href="/sell">Sell</a>
        </li>
        <!--Buy-->
        <li class="nav-item">
            <a class="nav-link" href="/buy"
               style="background-color: saddlebrown; border-radius: 100px"> Buy</a>
        </li>
    </div>

    <div class="nav justify-content-end" style="background: #333">
        <!--Sign out-->
        <li>
            <button class="btn btn-primary mr-2" onclick="signOut()"
                    type="button">Sign out
            </button>
        </li>
    </div>
</nav>
{% endblock %}

<!-- main -->
{% block main %}
<div class="wrap">
    <div class="nav-wrap">
        <!-- post box -->
        <div style="padding: 10px; background-color: white">
            <button type="button" class="btn btn-outline-success" onclick="openClose()"
                    style="width: 100%">
                Post
            </button>
        </div>
        <!--categories-->
        <ul class="list-group">
            <li class="list-group-item active">
                product1
            </li>
            <li class="list-group-item">
                product2
            </li>
            <li class="list-group-item">
                product3
            </li>
        </ul>

    </div>

    <!-- Posting -->
    <div class="content-wrap">
        <!-- post box -->
        <div id="post-box" class="form-post" style="display:none">
            <div class="post-intro">
                <h3>What do you want to sell</h3>
                <p> Post anything that you want to sell.
                    It could be your gift, works or items.
                    Fill the boxes below and wait until deadline which you set.
                    Then somebody will buy it for high price
                </p>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" id="post-title">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Product</span>
                <input type="text" class="form-control" id="post-product">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">imageUrl</span>
                <input type="text" class="form-control" id="post-productUrl">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Deadline</span>
                <input type="text" class="form-control" id="post-deadline">
            </div>

            <div class="post-button">
                <button type="button" class="btn btn-primary" onclick="post()">Save</button>
            </div>
        </div>


        <!-- title -->
        <div class="posting-header">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col">
                        <h2>Title</h2>
                    </div>
                    <div class="col-auto">
                        writer
                    </div>
                    <div class="col-auto">
                        created
                    </div>
                    <div class="col-auto">
                        deadline
                    </div>
                </div>
            </div>
        </div>

        <!--product-info-->
        <div class="products-info">
            <h5> Product </h5>
            <p> I want to sell or buy ... </p>
            <img src="../static/product-sample.jpeg" style="width: 100%; height: 100%">
        </div>

        <!-- comments -->
        <div class="comments-wrap">
            <div class="input-group mb-3">
                <span class="input-group-text">₩</span>
                <input type="text" class="form-control" placeholder="원하는 가격을 적어주세요 (예: 100000)"
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button
                </button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">닉네임</th>
                    <th scope="col">가격</th>
                    <th scope="col">날짜</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>하모예</td>
                    <td>100</td>
                    <td>2021-00-00</td>
                </tr>
                <tr>
                    <td>하모예</td>
                    <td>100</td>
                    <td>2021-00-00</td>
                </tr>
                <tr>
                    <td>하모예</td>
                    <td>100</td>
                    <td>2021-00-00</td>
                </tr>

                </tbody>
            </table>


        </div>

    </div>
</div>
{% endblock %}

<!-- style -->
{% block style %}
<style>

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item a {
        padding: 10px;
        font-size: 1.3rem;
        color: #fff;
    }

    .wrap {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        background-image: url("../static/auction-sample.jpeg");
    }

    .nav-wrap {
        height: 100%;
        width: 200px;
        background: lightblue;
    }

    .content-wrap {
        width: 100%;
        padding: 50px 100px;
        background: beige;
    }

    #post-box {
        width: 90%;
        margin: 40px 50px;
        padding: 50px;
        border: 1px solid saddlebrown;
        border-radius: 5px;
    }
    .post-intro{
        text-align: center;
        margin-bottom: 20px;
    }
    .post-button{
        display: flex;
        justify-content: center;
    }

    .posting-header {
        border-bottom: 1px solid #555555;
    }

    .products-info {
        margin: 20px;
    }

    .comments-wrap {
        margin: 20px;
    }

    td, tr {
        text-align: center;
    }
</style>
{% endblock %}

<!-- script -->
{% block script %}
<script>
    function signOut() {
        $.ajax({
            type: 'POST',
            url: '/api/logout',
            success: function (res) {
                if (res['result'] === 'success') {
                    alert(res['msg'])
                    location.href = '/'
                }
            }
        })
    }

    function openClose() {
        // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
        if ($("#post-box").css("display") == "block") {
            // post-box를 가리고
            $("#post-box").hide();
            // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
            $("#btn-post-box").text("포스팅 박스 열기");
        } else {
            // 아니면(눈에 보이지 않으면) post-box를 펴라
            $("#post-box").show();
            // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
            $("#btn-post-box").text("포스팅 박스 닫기");
        }
    }

</script>
{% endblock %}