{% extends "layout_home_v1.html" %}

<!--Top bar-->
{% block nav %}
<nav class="navbar" style="background: #333">
    <div class="nav justify-content-start" style="background: #333">
        <!--Logo-->
        <a class="navbar-brand" href="/" style="color: #fff; font-family: 'Gugi'; font-size: 1.5rem">
            <img src="../static/avocado_logo.png" alt="" width="60" height="60"
                 class="d-inline-block align-text-center">
            Avocado
        </a>
        <!--Sell-->
        <li class="nav-item">
            <a class="nav-link" href="/sell">Sell</a>
        </li>
        <!--Buy-->
        <li class="nav-item">
            <a class="nav-link" href="/buy"> Buy</a>
        </li>
    </div>

    <div class="nav justify-content-end" style="background: #333">
        <!--Sign in-->
        <li>
            <button class="btn btn-outline-light mr-2" onclick="location.href='/register'"
                    type="button">Sign in
            </button>
        </li>
        <!--Login-->
        <li>
            <button class="btn btn-success" onclick="location.href='/login'"
                    type="button">Login
            </button>
        </li>
    </div>
</nav>
{% endblock %}

<!-- main -->
{% block main %}

<!--Intro banner-->
<div>
    <img src="../static/auction-sample.jpeg" style="width: 100%; height: 40vw">
</div>

<!-- Lowest price auction -->
<div class="auction" id="lowest-auction">
    <!--introduction-->
    <div class="auction-category" id="lowest-auction-category">
        <h4>WHAT ARE YOU LOOKING FOR</h4>
        <p>
            원하는 물건이 있는데 어디서 사야될지 모르겠나요? 도움이 필요한데 전문가를 부르기에는 부담되나요?
            글을 올려보세요! 사람들이 좋은 가격에 물건을 제시할 거에요
        </p>
        <a href="https://blog.naver.com/rn0731"> Learn more >> </a>
    </div>
    <!--contents-->
    <div class="auction-cardbox">
        <div id="carouselIndicators-0" class="carousel slide" data-ride="carousel">
            <!--kind of pagination-->
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators-0" data-slide-to="0" class="active"></li>
                <!-- put here -->
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3 minutes left</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3 minutes left</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3minutes left</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- put here -->
            </div>
            <!-- direction buttons -->
            <a class="carousel-control-prev" href="#carouselIndicators-0" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators-0" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<!-- General auction-->
<div class="auction" id="general-auction">
    <!--introduction-->
    <div class="auction-category" id="general-auction-category">
        <h4 style="text-align: center">WHAT DO YOU WANT TO BUY</h4>
        <p>
            다른 사람들이 만든 예술품이나 재능을 구매할 수 있어요.
            원하는 것이 있다면 얼른 가격을 부르세요 마감시간이 얼마 남지 않았어요!
        </p>
        <a href="https://blog.naver.com/rn0731"> Learn more >> </a>
    </div>
    <!--contents-->
    <div class="auction-cardbox">
        <div id="carouselIndicators-1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators-1" data-slide-to="0" class="active"></li>
                <!-- put here -->
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3 minutes left</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3 minutes left</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../static/art_image.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted">3minutes left</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- put here -->
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators-1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators-1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

<!-- style -->
{% block style %}
<style>
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item a {
        padding: 10px;
        font-size: 1.3rem;
        color: #fff;
    }

    .auction {
        display: flex;
        flex-direction: row;
    }

    #lowest-auction {
        background-color: antiquewhite;
    }

    #general-auction {
        background-color: darkseagreen;
    }

    .auction-category {
        margin: 10px;
        padding: 50px;
        border-radius: 10px;
        text-align: center;
        flex: 1;
    }

    #lowest-auction-category {
        background-color: darkseagreen;
    }

    #general-auction-category {
        background-color: antiquewhite;
    }

    .auction-cardbox {
        margin: 10px;
        flex: 4;
    }

    .card-deck {
        margin: 50px 10px;
    }

    .card-title {
        margin: 0;
    }

    .card-img-top {
        height: 13rem;
        object-fit: cover;
    }

    .card-body {
        padding: 10px;
    }
</style>
{% endblock %}

<!-- block : script -->
{% block script %}
<script>
    let Carousel0 = document.querySelector('#carouselIndicators-0')
    let carousel0 = new bootstrap.Carousel(Carousel0)

    let Carousel1 = document.querySelector('#carouselIndicators-1')
    let carousel1 = new bootstrap.Carousel(Carousel1)
</script>
{% endblock %}