@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway&display=swap');

@font-face {
    font-family: 'Nanum Gothic';
    src: url('../static/NanumGothic-Regular.ttf');
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: "Raleway", "Nanum Gothic";
}

#page {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    background: white;
}

#banner {
    z-index: 100;
    max-width: none;
}

.global-message-banner {
    background-color: white;
    padding: 15px 10px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.sticky-nav {
    background-color: #333;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

.top-bar {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px 5px;
    margin: 0 5px 0 10px;
    position: relative;
    top: 0;
    left: 0;
    font-family: "Raleway", sans-serif;
}

#primary-nav {
    border-text: 1px solid #fff;
}

.primary-nav-items {
    list-style: none;
    color: white;
    text-align: center;
}

.nav-menu1 {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.nav-menu2 {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.nav-menu3 {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.intro-banner {
    position: relative;
    vertical-align: baseline;
}

#intro-banner-video {
    background: beige;
    width: 150%;
    max-height: 20vw;
}

#intro-banner-button {
    background-color: black;
    background-image: url("../static/intro-banner-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    border-radius: 5px;
    border: 1px white solid;
    bottom: 2.5vw;
    height: 30px;
    opacity: 0.5;
    position: absolute;
    right: 1.5vw;
    transition: all 350ms ease-in-out;
    width: 30px;
    z-index: 2;
}

.search-form-field {
    padding: 20px;
    height: 150px;
    display: block;
    margin-top: -3px;
}

#search-keyword-submit {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    padding: 10px;
}

#search-keyword-button {
    font-size: 1.8rem;
    width: 100%;
    position: inherit;
}

.map {
    padding: 20px;
    background-color: #eaeaea;
    height: 500px;
}

.post-box-field {
    padding: 30px 200px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.post-box-field h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 1rem;
    line-height: 1;
    max-width: 900px;
    color: #555;
}

.post-box-field p {
    line-height: 22px;
    font-size: 18px;
}

.api-text {
    position: absolute;
    z-index: 0;
    width: 100%;
}

.moment-card-form {
    background: lightgrey;
    width: 100%;
    height: 400px;
}